<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Account.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>CaveOfPrograming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ExceptionHandling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>FleHandling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>What your mother never told you.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>accumulate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>auto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>callback.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>classes copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>classes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>const.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>constExpression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>constroctors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>copyConstructor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>explicit_constructor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>externC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>freeMyMomory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>functionalTypes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>functors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>lamdaExpression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>lamdaFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>maps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>multimap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>multipleInheritance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>nestedTemplateClasses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>newOperator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>operatorOverloading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>perfectForwarding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>polymorphishm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>prefixpostfix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>privatevirtual.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>privatevirtual2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>rangeBasedForLoop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>references.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>simpleInheritance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>smart pointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>sorting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>staticvsglobal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>stdNext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>stirngsC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>streamInOut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>stringinC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>structAndUnion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>template.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>typecasting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65200BCA21C14BC600B9FFB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6533779122098BD900471BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6537135B2162772400C59902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653BCB2C21E3858200626119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653C029921BC108000B14B40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6546F3722219B144000642D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6546F37D221BC490000642D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655E49CF22070B70006EE58D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655E49DA22074AF8006EE58D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6563703E217328C0005AEE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6563704921737B79005AEE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6563705421738A31005AEE1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657508BA21B41D8400F416E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65755248215C808A000A000F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6575526D215DD65B000A000F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657BA6D022353F320000D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657BA6DB22353FB00000D707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65875C302205C500004552DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A104142168D8EA00B2EE20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A03A21F0AC4900D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A04521F225BA00D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A05921F359FD00D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A06421F375B800D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A06F21F4940E00D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A07D21F4BC0E00D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A08821F58B3900D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A09321F5D4F000D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A09E21F7770700D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B6A0A921F8DB9B00D9E376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65BA951321D50EF200EE9A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65BA952C21DB342D00EE9A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65BA954221DE098600EE9A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65BA954D21DE60DC00EE9A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65D62A3C21DF92700049F2A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E8D4215F32FB00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E8DF215F336100586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E8EB215F338E00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E8F9215F5D1A00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E907215FA28C00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E912215FAB8F00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E91D215FD9AF00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E928216083CD00586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E3E933216086F600586BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EC543E21C2C488004E3741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE91772208B737002B4C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE91822208B74E002B4C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE918D22093D3D002B4C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE919822093D82002B4C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F8B43F21C81AE3008F8E05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
